button{
    box-shadow: 0 0 15px rgb(204, 1, 1),
    0 0 50px rgb(196, 2, 2)
    
}

button:hover{
    background-color: red;
}


h1 {
    text-align: center;
}
button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    clip-path: circle(75% at 50% 50%);
}